Flask==2.3.3
SQLAlchemy==2.0.22
psycopg2-binary==2.9.9
Werkzeug==2.3.7
Flask-Cors==3.0.10

opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-exporter-otlp==1.29.0

opentelemetry-instrumentation-flask==0.50b0
opentelemetry-instrumentation-sqlalchemy==0.50b0
opentelemetry-instrumentation-prometheus==0.50b0

gunicorn==23.0.0
prometheus-client==0.21.0
